/* Global reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html {
    font-size: 62.5%;
}

body {
    background-color: rgb(181, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    width: 100vw;
    height: 100vh;
}


/****************************/
/* GAME BOARD STYLING */
/****************************/
.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
}

.gameboard__tile:nth-child(3),
.gameboard__tile:nth-child(4),
.gameboard__tile:nth-child(5),
.gameboard__tile:nth-child(6){
    border-bottom: solid blue 1px;
}

.gameboard__tile:nth-child(7),
.gameboard__tile:nth-child(8) {
    border-right: solid blue 1px;
}

.gameboard__tile:nth-child(1),
.gameboard__tile:nth-child(2),
.gameboard__tile:nth-child(4),
.gameboard__tile:nth-child(5) {
    border-bottom: solid blue 1px;
    border-right: solid blue 1px;
}

.gameboard__tile {
    text-align: center; 
    font-size: 10rem;
}

/****************************/
/* PLAYERS SECTION STYLING */
/****************************/

.players {
    display: flex;
    gap: 10rem;
    font-size: 7rem;
}